<form>
    <div class="funcWrapper__inputFon">
        <div class="inputFon__search">  

                <div class="foundButton-svg">
                    <button>
                        <img src="./static/img/icons/main/main-search.svg">
                    </button>
                </div>

                <div class="searchWrapper"><input name="main-search" type="text"></div>
                <div class="foundButton"><button>Найти</button></div>
        </div>

        <div class="funcWrapper__sortFon">
            <div class="sortFon__item">
                
                <select name="main-category">
                    <option value="" disabled>Категории</option>
                    <option value="fon-all">Все</option>
                    <option value="fon-new">Новые</option>
                    <option value="fon-downloads">Скачивания</option>
                    <option value="fon-rank">Рейтинг</option>
                </select>

            </div>
        </div>
    </div>
</form>