<div class="block-center">

    <div class="headerWrapper">

        <div class="header__logo">

            <div>
                <img src="./static/img/icons/header/header-logo.svg">
            </div>

        </div>
        
        <div class="header__someInfo">

            <div>
                <div>Обои еда</div>
                <div>Ежедневно новые картинки и только красивые обои для рабочего стола по теме еда совершенно бесплатно.</div>
            </div>

        </div>

        <div class="header__login">

            <div onclick="alert('Такой функции пока что нет :(');">
                Войти
            </div>

        </div>

    </div>

</div>