.section__funcWrapper {
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    form {
        width: 100%;
    }
}

@import './main/funcWrapper/main-search.scss';
@import './main/funcWrapper/main-sort.scss';
@import './main/fonWrapper/fonWrapper.scss';